body {
    box-sizing: border-box;
    background: #23272a;
    margin: 0px;
    color: white;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, Verdana;
    text-align: justify;
    text-justify: inter-word;
}

.members-count,
.members-list,
.messages {
    padding: 0px;
}

.messages {
    flex-shrink: 1;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 5px;
    height: 72vh;
    max-height: 78vh;
    min-width: 100%;
    background: #2c2f33;
    border-radius: 5px;
}

.usercolumn {
    position: fixed;
    padding: 5px;
    box-shadow: -5px 5px 5px #0a0a0a;
    overflow: auto;
    top: 0;
    right: 0;
    background: #23272a;
    width: 300px;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.overlay:target {
    visibility: visible;
}

.message {
    padding: 5px 0;
}

.message .member {
    display: inline-block;
}

.member {
    padding-right: 10px;
    position: relative;
}

.message-form {
    display: flex;
    flex-shrink: 0;
}

.message-form__input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: #2c2f33;
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, verdana;
}

.message-form__button {
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
    background: #2c2f33;
    font-family: -apple-system, BlinkMacSystemFont, verdana;
}
.title {
    background: #2c2f33;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 2px;
    width: 290px;
    font-size: 16px;
    background: #2c2f33;
    font-family: -apple-system, BlinkMacSystemFont, verdana;
    outline: none;
}

p {
    margin: 0px;
    color: white;
    transition: background 0.5s;
}

p:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 5px;
}

a {
    margin: 0px;
    color: white;
    text-decoration: none;
}

a:hover {
    background: #2c2f33;
}

.row:after {
    content: " ";
    display: table;
    min-height: 90%;
    clear: both;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #181a1c;
    width: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #3b3f45;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4c5159;
}

.hr {
    color: white;
    margin: 0px;
}

img {
    height: 48px;
    width: 48px;
}
